<body>
  <header>
    <nav>
      <a href="../">SoundBlog</a>
    </nav>
    <div class='title-header'>
      <i class="fab fa-spotify"></i>
      <h2>SoundBlog</h2>
    </div>
    <div class='message-search'>
      <p>Albums {{artist}}</p>
    </div>
  </header>
  <div class='artists-container'>
    {{#each albums}}
      <div class='artist-container'>
        <img class='artist-img' src = {{}}>
        <div>
          <h3 class='artist-name'>{{}}</h3>
          <button class='button-view-albums'><a href ="/tracks/{{this.id}}?album={{this.name}}&artist={{artist}}" method = "GET">View Tracks</a></button>
        </div>
      </div>
    {{/each}}
  </div>
</body>

<div class='message-search'>
      <p>Artists "{{artist}}":</p>
    </div>
  <div class='artists-container'>
    {{#each artists}}
      <div class='artist-container'>
        <img class='artist-img' src = {{}}>
        <div>
          <h3 class='artist-name'>{{}}</h3>
          <button class='button-view-albums'><a href ="/albums/{{this.id}}?artist={{this.name}}" method = "GET" name='artist'>View Albums</a></button>
        </div>
</div>
    {{/each}}

